/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#banner {
  position: relative;
  min-height: 75px;
  background: #009D91;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #00665E;
  text-align:center;

  img {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 150px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none
}

#columns {
  background: #33CEC3;
  display: flex;

  #main {
    padding: 1em;
    background: white;
    flex: 2;
  }

  #side {
    padding: 2em 2em;
    background: #33CEC3;

    form, div {
      display: inline;
    }
    input[type="submit"] {
      padding:2px 7px;
      background:#9CD0DD;
      border:1;
      border-color:#e0f8f8 ;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    input[type="submit"]:hover {
      background-color: #f0f0f0;
    }
    #cart {
      font-size: smaller;
      color:
              white;
      table {
        border-top:
                1px dotted #000000;
        border-bottom: 1px dotted #000000;
        margin-bottom: 1px;
      }
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        color: #FFFFFF;
        font-size: 28px;
        a {
          color: #FFFFFF;
          font-size: 28px;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }
  #banner .title {
    display: none;
  }
}

.depot_form {
  fieldset {
    background: #9CD0DD;
    legend {
      color: #dfd;
      background: #0b5345;
      font-family: sans-serif;
      padding: 0.2em 1em;
      font-size: 1.4em;
      line-height: 1.41em;
    }
    div {
      margin-bottom: 0.3em;
    }
  }
  form {

    input, textarea, select, option {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 10px;
      resize: vertical;
    }
    label {
      padding: 0.1em 0.1em;
    }
    input[type="submit"] {
      padding: 5px 15px;
      background: #33CEC3;
      border: 1;
      border-color: #222266;
      cursor: pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    input[type="submit"]:hover {
      background-color: #CFCFCF;
    }
    input[type="submit"]:active {
      background-color: #154360;
      box-shadow: 0 3px #666;
      transform: translateY(4px);
    }
  }
}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}